body{
    background-image: url(../images/bgg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.blue-500{
    color: blue;
}
.background{
    background-image: url(../images/psb.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.sih{
    background-color: aqua;
    color:rgb(3, 71, 71) ;
}
.green-text{
    color: green;
}
#gold{
    color: gold;
}
.w-20{
    width:20%;
}
.border{
    border-width: 10px;
    border-color: hsla(120, 31%, 53%, 0.329);
    border-style: groove;
}
.t-blue{
    color: blue;
}
.borderS{
    border: 10px;
    border-color: black;
    border-style: solid;
}
.outlineS{
    outline: 10px;
    outline-color: red;
    outline-style: solid;
}
.bg-aqua{
    background-color: aqua;
}
.bg-redS{
    background-color: rgba(165, 37, 37, 0.527);
}
.darkred{
    color:darkred ;
}
.gradient{
    background: linear-gradient(red blue);
}
.bg-card{
    background-color: rgba(255, 255, 255, 0.158);
}
.text-bg-white{
    background-color: rgba(255, 255, 255, 0.178);
}

.text {
    position: absolute;
    top: 35%;
    left: 30%;
    text-transform: capitalize;
background: linear-gradient(90deg, rgba(151, 149, 237, 1) 0%, rgba(40, 40, 189, 1) 17%, rgba(30, 47, 89, 1) 34%, rgba(18, 173, 176, 1) 53%, rgba(9, 145, 9, 1) 72%, rgba(128, 29, 29, 1) 86%, rgba(243, 247, 0, 1) 100%);
    background-size: 400%;
    font-size: 70px;
    font-family: "Arial", sans-serif;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }



    